body {
    background-color: #333;
    color: white;
}
main {
    display: flex;
    flex-direction: column;
}
#intro div {
    text-align: center;
}
#features div {
    display: flex;
    justify-content: space-around;
}
