:root {
    --banner_width: 1344px;
    /* Please make this be the banner's width! */
}

body {
    background-color: #333;
    color: white;
}
header {
    width: auto;
}
main {
    width: var(--banner_width);
    margin: auto;
}
main section {
    width: auto;
}
h1 {
    font-size: 4em;
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2em;
}
#intro {
    text-align: center;
}
.feature-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.feature-box img {
    width: 33%;
}
