:root {
    --banner_width: 1344px;
    /* Please make this be the banner's width! */
    --solid-border-color: black;
}

body {
    background-color: black;
    color: white;
}
header {
    width: auto;
}
main {
    width: var(--banner_width);
    margin: auto;
    background-color:  #333;
}
main section {
    width: auto;
}

h1 {
    font-size: 5rem;
}
#intro {
    text-align: center;
}
#description {
    font-size: 150%;
}
#github-logo {
    width: 15%;
}

.section-title {
    font-size: 4em;
}
.feature-title {
    font-size: 3em;
    color: #FFFF00;
}
.feature-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.feature-visualization, .feature-text-box {
    width: 40%;
}
.feature-box p {
    font-size: 175%;
}

#about p {
    font-size: 175%;
}